doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='../css/main.css')
  title Document
.container
  header
    .header1
      .logo
        img(src='../img/myamazon logo.svg' alt='logo')
      div
        p
          | Deliver to 
          br
          |                     Pakistan
      .search
        input(type='search')
      .headerp
        p
          | Hello, Sign in 
          br
          |                     Account &amp; Lists
        p
          | Returns 
          br
          |                         &amp; Orders
      div
        a(href='#')
          img(src='../img/Cart.png' alt='cart')
    nav.header-nav
      ol
        li
          a(href='#') All
        li
          a(href='#') Today&rsquo;s Deals
        li
          a(href='#') Customer Service
        li
          a(href='#') Registry
        li
          a(href='#') Gift Cards
        li
          a(href='#') Sell
  main
    div
      img(src='../img/Rectangle 3.png' alt='img')
    div
      ul.main-ul1
        li
          h2 Gaming Accessories
          br
          img(src='../img/Rectangle 15.png' alt='img')
          br
          br
          p
            | Lorem ipsum dolor sit amet, consectetur 
            br
            |                                 adipiscing elit. Lorem ipsum dolor sit amet, ...
          br
          span $ 40.00
        li
          h2
            | Shop activity trackers and 
            br
            |                                 smartwatches
          br
          img(src='../img/Rectangle 37.png' alt='img')
          br
          br
          p
            | Lorem ipsum dolor sit amet, consectetur 
            br
            |                                 adipiscing elit. Lorem ipsum dolor sit amet, ...
          br
          span $ 20.50
        li
          h2 Dresses
          br
          img(src='../img/Rectangle 41.png' alt='img')
          br
          br
          p
            | Lorem ipsum dolor sit amet, consectetur 
            br
            |                                 adipiscing elit. Lorem ipsum dolor sit amet, ...
          br
          span $ 15.00
        li
          h2 Shop school essentials
          br
          img(src='../img/Rectangle 42.png' alt='img')
          br
          br
          p
            | Lorem ipsum dolor sit amet, consectetur 
            br
            |                                 adipiscing elit. Lorem ipsum dolor sit amet, ...
          br
          span $ 10.50
      ul.main-ul2
        li
          h2 Gaming Accessories
          br
          img(src='../img/Rectangle 15.png' alt='img')
          br
          br
          p
            | Lorem ipsum dolor sit amet, consectetur 
            br
            |                             adipiscing elit. Lorem ipsum dolor sit amet, ...
          br
          span $ 40.00
        li
          h2
            | Shop activity trackers and 
            br
            |                             smartwatches
          br
          img(src='../img/Rectangle 37.png' alt='img')
          br
          br
          p
            | Lorem ipsum dolor sit amet, consectetur 
            br
            |                             adipiscing elit. Lorem ipsum dolor sit amet, ...
          br
          span $ 20.50
        li
          h2 Dresses
          br
          img(src='../img/Rectangle 41.png' alt='img')
          br
          br
          p
            | Lorem ipsum dolor sit amet, consectetur 
            br
            |                             adipiscing elit. Lorem ipsum dolor sit amet, ...
          br
          span $ 15.00
        li
          h2 Shop school essentials
          br
          img(src='../img/Rectangle 42.png' alt='img')
          br
          br
          p
            | Lorem ipsum dolor sit amet, consectetur 
            br
            |                             adipiscing elit. Lorem ipsum dolor sit amet, ...
          br
          span $ 10.50

        
    